@font-face {
  font-family: "IRANSans";
  src: url('./assets/fonts/IRANSans_Light.ttf') format('truetype');
}

html,
#root {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'IRANSans', 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}